@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("../../img/background.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  color: #3065ac;
  font-size: 30px;
  margin-top: 15px;
}

h2 {
  font-weight: 500;
  color: #252627;
}

h3 {
  color: #252627;
  font-weight: 400;
}

table {
  width: 75vw;
  border: 1px solid #000;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

tr,
td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 0.3em;
  font-size: 14pt;
}

th {
  padding: 0.6rem;
  background-color: #3065ac;
  color: #ffffff;
  font-size: 16pt;
}
.last-column {
  margin-bottom: 10px;
}

@media screen and (max-width: 468px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  tr,
  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 0.4em;
    font-size: 10pt;
  }
  
  th {
    padding: 0.2rem;
    background-color: #3065ac;
    color: #ffffff;
    font-size: 12pt;
  }
}

@media screen and (max-width: 324px) {
  h1 {
    font-size: 22px;
  }
  
  h2 {
    font-size: 18px;
  }

  table {
    width: 70vw;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 1.5rem;
  }
  
  tr,
  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 0.1em;
    font-size: 8pt;
  }
  
  th {
    padding: 0.2rem;
    background-color: #3065ac;
    color: #ffffff;
    font-size: 10pt;
  }
}